.our_works {
    padding: 96px 0px 88px 0px;
    &__title {
        margin-bottom: 76px;
    }
    &__grid {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        transition: all 0.4s ease;
        @media(min-width:320px){
            max-height: none;
        }
        @media (min-width:1024px){
            max-height: calc(785px + 705*(100vw/1440));
        }
        @media(min-width:1440px){
            max-height: 1540px;
        }
        &-item {
            position: relative;
            overflow: hidden;
            margin-right: 19px;
            margin-bottom: 20px;
            @media(max-width:1024px){
                min-height: 328px;
            }
            &-img {
                width: 100%;
                height: 100%;
            }
            &-img img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &-item:hover .our_works__content {
            opacity: 1;
        }
        &-item:first-child {
            width: 39%;
            max-height: 525px;
            @media(max-width:1024px){
                width: 100%;
                margin-right: 0px;
            }
        }
        &-item:nth-child(10n+1) {
            width: 39%;
            max-height: 525px;
            @media(max-width:1024px){
                width: 100%;
                
            }
        }
        &-item:nth-child(10n-3){
            width: 39%;
            margin-right: 0px;
            max-height: 525px;
            @media(max-width:1024px){
                width: 100%;
                
            }
        }
        &-item:nth-child(10n-7),&-item:nth-child(10n-2) {//3 8 13
            width: 32%;
            max-height: 435px;
            @media(max-width:1024px){
                width: 100%;
                max-height: 525px;
                margin-right: 0px;
            }
        }
        &-item:nth-child(10n-6),&-item:nth-child(10n-1){// 4 9 14
            width: 32%;
            max-height: 435px;
            @media(max-width:1024px){
                width: 100%;
                max-height: 525px;
                margin-right: 0px;
            }
        }
        &-item:nth-child(5n){
            width: 32%;
            margin-right: 0px;
            max-height: 435px;
            @media(max-width:1024px){
                width: 100%;
                max-height: 525px;
            }
        }
        &-item:nth-child(10n-4) {
            width: 59%;
            //
            max-height: 525px;
            @media(max-width:1024px){
                width: 100%;
                margin-right: 0px;
            }
        }
        &-item:nth-child(10n-8){
            width: 59%;
            margin-right: 0px;
            max-height: 525px;
            @media(max-width:1024px){
                width: 100%;
                
            }
        }
    }
    &__trigger {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        // transform: translateY(-200%);

    }
    &__content {
        padding: 60px 40px;
        background: rgba(0,0,0,0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        opacity: 0;
        flex-direction: column;
        transition: all 0.4s ease;
        @media(max-width:1024px){
            padding: 40px 20px 30px 20px;
        }
        &-title {
            font-size: 21px;
            line-height: 24px;
            font-weight: 600;
            color: white;
            margin-bottom: 30px;
            @media(max-width:1024px){
                font-size: 18px;
            }
        }
        &-item {
            list-style-type: disc;
            color: white;
            font-weight: 16px;
            line-height: 22px;
            margin-left: 20px;
            @media(max-width:1024px){
                font-size: 14px;
                line-height: 18px;
            }
        }
        &-call {
            position: absolute;
            bottom: 50px;
            right: 45px;
            z-index: 2;
            @media(max-width:1024px){
                bottom: 30px;
                right: 20px;
            }
            & a {
                color: #FFB800;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                & img {
                    margin-left: 12px;
                }

            }
        }
    }
    & .show-more {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    & .button {
        max-width: 200px;
        border: 1px solid #FFB800;

    }
    & .button:hover {
        background: #FFB800;
        color: white;
    }
    & .button:active {
        color: black;
    }
}
.max-content {
    transition: all 0.4 ease;
    max-height: max-content !important;
}