
$quiz-colors          : (
        quiz-pink: #FB3BA5,
        quiz-white: #FFFFFF,
        quiz-white2: #F1F2F4,
        quiz-white3: #D4D7DD,
        quiz-white4: #E2E4E9,
        quiz-text-dark: #22252B,
        quiz-text-dark2: #383D47,
        quiz-grey: #383D47,
        quiz-grey2: #656E81,
        quiz-grey3: #9BA2B0,
        quiz-grey4: #707A8F,
        quiz-invalid: #DA1414,
);
$quiz-hover-shadow    : 0 0 25px rgba(205, 104, 210, 0.5);
$quiz-button-gradient : #FFB800;

@keyframes show {
  0% {
    opacity : 0;
  }
  20% {
    opacity : 0.2;
  }
  50% {
    opacity : 0.5;
  }
  80% {
    opacity : 0.8;
  }
  100% {
    opacity : 1;
  }
}

@keyframes show-content {
  0% {
    transform : translateY(-100%);
  }
  20% {
    transform : translateY(-80%);
  }
  50% {
    transform : translateY(-50%);
  }
  80% {
    transform : translateY(-20%);
  }
  100% {
    transform : translateY(0);
  }
}
:root {
  --img-height  : 320px;
  --full-height : 740px;
  --cont-height : calc(var(--full-height) - var(--img-height));
}

@keyframes tab-max-height {
  @mixin m-height($factor){
    height: calc(var(--img-height) + (var(--cont-height) * #{$factor}));
  }
  0% {
    height : var(--img-height);
  }
  20% {
    @include m-height(0.2);
  }
  50% {
    @include m-height(0.5);
  }
  80% {
    @include m-height(0.8);
  }
  100% {
    height : var(--full-height);
  }
}

.show-cont-anim {
  @include media-breakpoint-down(sm) {
    animation : show-content .2s linear;
  }
}

.tab-max-height {
  @include media-breakpoint-down(sm) {
    animation : tab-max-height .2s linear;
  }
}

.choise-master {
  $height-xxl    : 687px;
  $height-xl     : 600px;
  $height-lg     : 550px;
  $height-md     : 500px;
  $height-sm     : 450px;
  $height-xs     : 320px;
  $height-xs-max : 740px;
  padding        : 96px 0;
  background: #F4F4F4;
  @media(max-width:1440px){
    padding: 96px 0px 168px 0px;
  }
  // @include media-breakpoint-down(sm) {
  //   padding : 50px 20px;
  // }
  // @media (max-width:359px){
  //   padding: 50px 0px !important;
  // }
    @media(max-width:1024px){
      padding: 50px 0px;
    }
  .form-errors {
    user-select : none;
    opacity     : 0;
    margin      : 12px 0;
    @include media-breakpoint-up(lg) {
      margin : 20px 0;
    }

    .form-error-text {
      font-weight : 400;
      font-size   : 10px;
      line-height : 12px;
      color       : map-get($quiz-colors, 'quiz-invalid');
      @include media-breakpoint-up(md) {
        font-size   : 12px;
        line-height : 14px;
      }
    }
  }

  & * {
    line-height    : 120%;
    letter-spacing : 0.005em;
  }

  #form-choise-masters {
    max-width     : 100%;
    position: relative;
    border-radius : 2px;
    // overflow      : hidden;
    background: white;
    @media(max-width:1440px){
      margin: 0 auto;
    }
  
    @include media-breakpoint-up(md) {
      max-width : 830px;
    }
    @include media-breakpoint-up(xl) {
      max-width : 970px;
    }

   
  }

  .form-tabs {
    position: relative;
    // @include media-breakpoint-down(sm) {
    //   overflow : hidden;
    // }
  }

  .form-tabs, .form-tab {
    width  : 100%;
    
  }

  .form-tab {
    display        : none;
    opacity        : 0;
    position       : relative;
    height         : auto;
    max-width: 970px;
    width: 100%;
    padding: 57px 96px;
    @media(max-width:1024px){
      padding: 37px 10px;
    }
    //max-height     : $height-xs-max;
    flex-direction : column-reverse;
    @include media-breakpoint-up(sm) {
      flex-direction : row;
      // height         : $height-sm;
      max-height     : unset;
    }
    @include media-breakpoint-up(md) {
      height : auto;
    }
    // @include media-breakpoint-up(lg) {
    //   height : $height-lg;
    // }
    @include media-breakpoint-up(xl) {
      height : $height-xl;
    }
    @include media-breakpoint-up(xxl) {
      height : $height-xxl;
    }

    &.invalid {
      .form-errors {
        animation : show ease-out .3s;
        opacity   : 1;
      }
    }

    &.active-tab {
      display   : flex;
      animation : show ease-out .3s;
      opacity   : 1;
    }

    &_start {
      margin-left: auto;
    }

    &_finally {
      @include media-breakpoint-down(sm) {
        flex-direction : column;
      }

      .form-tab__img {
        position : relative;
        flex     : 1 1 auto;
      }

      .form-finally-text {
        flex-direction  : column;
        justify-content : center;
        width: 100%;
        @include media-breakpoint-up(sm) {
         
          display : flex;
        }
        @include media-breakpoint-up(lg) {
          display : block;
        }
      }

      .form-tab__content {
        
        display         : flex;
        justify-content : center;
        align-items     : center;
        flex-direction  : column;
        
        flex            : 1 0 50%;
        @include media-breakpoint-up(md) {
          flex    : 1 0 50%;
        }
        @include media-breakpoint-up(lg) {
          flex : 1 0 45%;
        }
        @include media-breakpoint-down(sm) {
          height    : calc(100% - 320px);
          transform : translateY(0);
          position  : relative;
          z-index   : 1;
        }

        button[type='submit'] {
          cursor          : pointer;
          width           : 100%;
          margin-top      : 50px;
          padding         : 13px;
          display         : flex;
          justify-content : center;
          align-items     : center;
          background: #FFB800;
          border: none;
          border-radius   : 30px;
          font-weight     : 500;
          font-size       : 14px;
          color           : black;
          transition      : background-image .3s ease-out, color .2s ease-out;

          &:hover {
            // background : $quiz-button-gradient;
            color      : black;
            border     : 1px solid transparent;
          }

          @include media-breakpoint-up(md) {
            padding : 17px;
          }
        }
      }

      .form-tab__img {
        @include media-breakpoint-down(sm) {
          height   : 320px;
          position : relative;
          z-index  : 2;
        }
      }
    }

    &_after-submit {
      background      : map-get($quiz-colors, 'quiz-white');
      padding         : 70px;
      justify-content : center;
      align-items     : center;
      flex-direction  : column !important;
      @include media-breakpoint-up(lg) {
        padding : 100px 150px;
      }
      @include media-breakpoint-up(xl) {
        padding : 160px 180px;
      }
      @include media-breakpoint-down(sm) {
        padding : 50px 30px;
      }

      & > *:not(:first-child) {
        margin-top : 24px;
      }

      .tab-after-submit__title {
        font-weight : 500;
        font-size   : 26px;
        line-height : 150%;
        color       : map-get($quiz-colors, 'quiz-text-dark');
        text-align  : center;
        @include media-breakpoint-up(md) {
          font-size : 32px;
        }
        @include media-breakpoint-down(sm) {
          font-size : 16px;
        }
      }

      .tab-after-submit__descr {
        font-weight : 400;
        font-size   : 16px;
        line-height : 150%;
        text-align  : center;
        color       : map-get($quiz-colors, 'quiz-text-dark2');
        @include media-breakpoint-up(md) {
          font-size : 20px;
        }
        @include media-breakpoint-down(sm) {
          font-size : 13px;
        }
      }

      .tab-after-submit__icon {
        $size  : 72px;
        width  : $size;
        height : $size;

        img {
          display    : block;
          width      : 100%;
          object-fit : contain;
        }
      }
    }

    &__title {
      font-weight : 500;
      font-size   : 20px;
      color       : map-get($quiz-colors, 'quiz-text-dark');
      @include media-breakpoint-up(md) {
        font-size : 24px;
      }
     
    }
  }

  .form-tab-count, .form-tab_finally {
    // @include media-breakpoint-down(sm) {
    //   height : $height-xs-max;
    // }
  }

  .form-tab-count {
    @include media-breakpoint-down(sm) {
      $img-size : 320px;
      .form-tab__content {
        height    : calc(100% - #{$img-size});
        transform : translateY(0);
        position  : relative;
        z-index   : 1;
        
      }
      .form-tab__img {
        position : relative;
        z-index  : 2;
      }
    }
  }

  .form-tab__checkbox, .form-tab__checkbox a {
    margin-top     : 30px;
    font-weight    : 400;
    font-size      : 12px;
    line-height    : 15px;
    color          : map-get($quiz-colors, 'quiz-text-dark2');
    @include media-breakpoint-up(md) {
      margin-top : 20px;
    }
    @include media-breakpoint-up(lg) {
      font-size   : 11px;
      line-height : 150%;
    }
  }

  .form-tab__checkbox {
    input[type='checkbox'] {
      display : none;
    }

    input[type='checkbox']:checked + .form-tab__label-checkbox:after {
      display : block;
    }
    input[type='checkbox']:checked + .form-tab__label-checkbox:before {
      border : 1px solid map-get($quiz-colors, 'quiz-text-dark2');
    }

    .form-tab__label-checkbox {
      position     : relative;
      padding-left : 23px;
      display      : block;

      &:before, &:after {
        content       : '';
        position      : absolute;
        left          : 0;
        top           : 0;
        border-radius : 2px;
        cursor        : pointer;
      }

      &:before {
        $size  : 13px;
        border : 1px solid map-get($quiz-colors, 'quiz-text-dark2');
        width  : $size;
        height : $size;
      }

      &:after {
        $size            : 15px;
        width            : $size;
        height           : $size;
        display          : none;
        background-image : url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_112_857)'%3E%3Cpath d='M3.33333 9.33333L5.23309 10.7582C5.66178 11.0797 6.26772 11.0061 6.60705 10.5914L12 4' stroke='%23383D47' stroke-linecap='round'/%3E%3C/g%3E%3Crect x='0.5' y='0.5' width='14' height='14' rx='1.5' stroke='%23383D47'/%3E%3Cdefs%3E%3CclipPath id='clip0_112_857'%3E%3Crect width='15' height='15' rx='2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
  .form-tab__checkbox.invalid {
    .form-tab__label-checkbox {
      &:before {
        animation: show .3s ease-out;
        border : 1px solid map-get($quiz-colors, 'quiz-invalid');
      }
    }
  }

  .form-tab__content {
    background : white;
    position   : relative;
    // padding    : 25px 20px 20px;
    z-index    : 2;
    flex       : 1 0 50%;
    // @include media-breakpoint-up(sm) {
    //   padding : 40px 35px;
    // }
    // @include media-breakpoint-up(md) {
    //   padding : 60px 50px;
    // }
    @include media-breakpoint-down(sm) {
      flex   : 0 0 auto;
      height : 100%;
    }

    &_transparent {
      padding    : 0 !important;
      background : transparent;
    }

    &_counter {
      display         : flex;
      flex-direction  : column;
      justify-content : space-between;
    }

    input:not([type='radio']), input:not([type='checkbox']) {
      padding       : 16px 22px 10px 0;
      border        : none;
      border-bottom : 1px solid map-get($quiz-colors, 'quiz-text-dark2');
      background    : transparent;
      width         : 100%;
      font-weight   : 400;
      font-size     : 14px;
      color         : map-get($quiz-colors, 'quiz-grey');

      &::placeholder {
        opacity : 0.7;
      }
    }

    .form-tab__input-wrapper {
      position : relative;
      width    : 100%;

      &:not(:first-child) {
        margin-top : 16px;
      }
    }

    .form-tab__input-wrapper.invalid {
      &:before {
        animation           : show ease-out .3s;
        $size               : 16px;
        content             : '';
        position            : absolute;
        top                 : 50%;
        right               : 4px;
        transform           : translateY(-50%);
        display             : block;
        width               : $size;
        height              : $size;
        background-image    : url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.75C10.0834 0.75 11.1562 0.963392 12.1571 1.37799C13.1581 1.7926 14.0675 2.40029 14.8336 3.16637C15.5997 3.93245 16.2074 4.84193 16.622 5.84286C17.0366 6.8438 17.25 7.91659 17.25 9C17.25 10.0834 17.0366 11.1562 16.622 12.1571C16.2074 13.1581 15.5997 14.0675 14.8336 14.8336C14.0675 15.5997 13.1581 16.2074 12.1571 16.622C11.1562 17.0366 10.0834 17.25 9 17.25C6.81196 17.25 4.71354 16.3808 3.16637 14.8336C1.61919 13.2865 0.75 11.188 0.75 9C0.75 6.81196 1.61919 4.71354 3.16637 3.16637C4.71354 1.61919 6.81196 0.75 9 0.75ZM9 11.75C8.7265 11.75 8.46419 11.8587 8.2708 12.052C8.0774 12.2454 7.96875 12.5077 7.96875 12.7812C7.96875 13.0548 8.0774 13.3171 8.2708 13.5105C8.46419 13.7038 8.7265 13.8125 9 13.8125C9.2735 13.8125 9.53581 13.7038 9.7292 13.5105C9.9226 13.3171 10.0312 13.0548 10.0312 12.7812C10.0312 12.5077 9.9226 12.2454 9.7292 12.052C9.53581 11.8587 9.2735 11.75 9 11.75ZM9 4.1875C8.83909 4.18745 8.68326 4.24384 8.55964 4.34685C8.43603 4.44986 8.35246 4.59297 8.3235 4.75125L8.3125 4.875V9.6875L8.3235 9.81125C8.3522 9.96976 8.43565 10.1132 8.55929 10.2164C8.68293 10.3197 8.83891 10.3763 9 10.3763C9.16109 10.3763 9.31707 10.3197 9.44071 10.2164C9.56435 10.1132 9.6478 9.96976 9.6765 9.81125L9.6875 9.6875V4.875L9.6765 4.75125C9.64754 4.59297 9.56397 4.44986 9.44036 4.34685C9.31674 4.24384 9.16091 4.18745 9 4.1875Z' fill='%23DA1414'/%3E%3C/svg%3E%0A");
        background-repeat   : no-repeat;
        background-position : center;
        background-size     : cover;
      }

      input:not([type='radio']) {
        border-bottom : 1px solid map-get($quiz-colors, 'quiz-invalid');
      }
    }
  }

  .form-tab__img {
    flex : 1 1 auto;
    @include media-breakpoint-down(sm) {
      flex   : 0 0 auto;
      height : 320px;
    }

    img {
      display    : block;
      width      : 100%;
      height     : 100%;
      object-fit : cover;
    }
  }

  .form-tab__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top : 15px;
    @media(max-width:1024px){
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
      margin-top : 50px;
      margin-bottom: 50px;
    }
  }

  .form-tab__input {
    //padding       : 13px 10px;
    //border-bottom : 1px solid map-get($quiz-colors, 'quiz-white3');
    cursor        : pointer;
    // @include media-breakpoint-up(md) {
    //   padding : 16px 10px;
    // }

    label, input[type='radio'] {
      cursor : pointer;
    }

    input[type='radio'] {
      display : none;
    }

    input[type='radio']:checked + label:after {
      display : block;
    }

    label {
      font-weight  : 400;
      font-size    : 14px;
      color        : map-get($quiz-colors, 'quiz-text-dark');
      position     : relative;
     
      display: inherit;
      @include media-breakpoint-up(md) {
        font-size : 16px;
        line-height: 16px;
      }

      // &:before {
      //   $size         : 14px;
      //   content       : '';
      //   position      : absolute;
      //   width         : $size;
      //   height        : $size;
      //   border        : 1px solid map-get($quiz-colors, 'quiz-grey2');
      //   border-radius : 50%;
      //   left          : 0;
      //   top           : 50%;
      //   transform     : translateY(-50%);
      //   z-index       : 1;
      // }

      &:after {
        $size         : 8px;
        content       : '';
        position      : absolute;
        width         : $size;
        height        : $size;
        background    : map-get($quiz-colors, 'quiz-grey2');
        border-radius : 50%;
        left          : 4px;
        top           : 50%;
        transform     : translateY(-50%);
        z-index       : 2;
        display       : none;
      }
    }
  }

  .form-start-bg {
    position : absolute;
    left     : 0;
    top      : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 1;

    img {
      display    : block;
      width      : 100%;
      height     : 100%;
      object-fit : cover;
      @include media-breakpoint-down(sm) {
        object-position : 70% 50%;
      }
    }
  }

  .form-start-title {
    
    font-weight : 600;
    font-size   : 30px;
    margin      : 0;
    color       : map-get($quiz-colors, 'quiz-white2');
    @media(max-width:1024px){
      font-size: 20px !important;
    }
    @include media-breakpoint-up(sm) {
      font-size : 34px;
    }
    @include media-breakpoint-up(md) {
      font-size : 48px;
    }
  }

  .form-start-descr {
    margin-top  : 24px;
    display     : block;
    max-width   : 430px;
    font-weight : 500;
    font-size   : 14px;
    color       : map-get($quiz-colors, 'quiz-white3');
    @include media-breakpoint-up(md) {
      font-size : 18px;
    }
    @media(max-width:1024px){
      margin-top: 16px ;
    }
  }

  .form-finally-title {
    font-weight : 600;
    font-size   : 28px;
    
  }

  .form-finally-descr {
    display     : block;
    margin-top  : 12px;
    max-width   : 360px;
    font-weight : 400;
    font-size   : 16px;
    line-height : 150%;
    
    @include media-breakpoint-up(lg) {
      font-size : 20px;
    }
  }

  .form-navigate {
    display     : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(sm) {
      margin-top : 20px;
      & > * {
        &:nth-child(1) {
          order : 2;
        }

        &:nth-child(2) {
          order        : 3;
          margin-right : 0;
        }

        &:nth-child(3) {
          order        : 1;
          margin-right : clamp(20px, 9%, 29px);
        }
      }
    }
  }

  .quiz-button {
    $size-pc        : 56px;
    $size-mob       : 45px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : $size-mob;
    cursor          : pointer;
    @include media-breakpoint-up(md) {
      height : $size-pc;
    }

    &_prev {
      // width         : $size-mob;
      // border-radius : 50%;
      // border        : 1px solid map-get($quiz-colors, 'quiz-grey3');
      // background    : transparent;
      // margin-right  : 13px;
      // flex-shrink   : 0;
      // transition    : border-color .3s ease-out;
      // @include media-breakpoint-up(md) {
      //   width : $size-pc;
      // }

      // .quiz-button-arrow-prev {
      //   width               : 16px;
      //   height              : 13px;
      //   background-image    : url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.63794 7L1.28439 6.64645L0.930833 7L1.28439 7.35355L1.63794 7ZM16.6379 7.5C16.9141 7.5 17.1379 7.27614 17.1379 7C17.1379 6.72386 16.9141 6.5 16.6379 6.5V7.5ZM7.28439 0.646447L1.28439 6.64645L1.99149 7.35355L7.99149 1.35355L7.28439 0.646447ZM1.28439 7.35355L7.28439 13.3536L7.99149 12.6464L1.99149 6.64645L1.28439 7.35355ZM1.63794 7.5H16.6379V6.5H1.63794V7.5Z' fill='%239BA2B0'/%3E%3C/svg%3E");
      //   background-position : center;
      //   background-size     : cover;
      //   background-repeat   : no-repeat;
      //   transition          : background-image .3s ease-out;
      // }

      &:hover {
        // border : 1px solid map-get($quiz-colors, 'quiz-grey4');

        // .quiz-button-arrow-prev {
        //   background-image : url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.63794 7L1.28439 6.64645L0.930833 7L1.28439 7.35355L1.63794 7ZM16.6379 7.5C16.9141 7.5 17.1379 7.27614 17.1379 7C17.1379 6.72386 16.9141 6.5 16.6379 6.5V7.5ZM7.28439 0.646447L1.28439 6.64645L1.99149 7.35355L7.99149 1.35355L7.28439 0.646447ZM1.28439 7.35355L7.28439 13.3536L7.99149 12.6464L1.99149 6.64645L1.28439 7.35355ZM1.63794 7.5H16.6379V6.5H1.63794V7.5Z' fill='%23707A8F'/%3E%3C/svg%3E%0A");
        // }
      }
    }

    &_next {
      //margin-right : 28px;
      @media (max-width : 350px) {
        margin-right : 10px;
      }
    }

    &_next, &_start, &_prev {
      border        : none;
      padding       : 20px 25px;
      font-weight   : 500;
      font-size     : 16px;
      color         : black;
      border-radius : 30px;
      background    : $quiz-button-gradient;
      @include media-breakpoint-up(md) {
        padding : 20px 40px;
      }
      
    }

    // &_start {
    //   margin-top : 50px;
    //   @include media-breakpoint-up(sm) {
    //     margin-top : 72px;
    //   }
    //   @media(max-width:1024px){
    //     margin-top: 37px;
    //   }
    // }
  }

  .quiz-arrow-next {
    width       : 15px;
    height      : 12px;
    display     : block;
    object-fit  : cover;
    margin-left : 8px;
  }

  .form-steps {
    position: absolute;
    left: 0;
    top: -20px;

    font-weight : 400;
    font-size   : 20px;
    color       : #737D8C
  }
}

.choise-master__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 75px;
  @media(max-width:1024px){
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
  }
}
.price__button {
  color: white;
  background: black;
  padding: 12px 24px;
  border-radius: 51px;
  margin-right: 27px;
  @media(max-width:1024px){
    width: 100%;
    margin-right: 0px;
    margin-bottom: 18px;
  }
  & h2 {
    @media(max-width:1024px){
      font-size: 24px;
    }
  }
}
.price__desc {
  max-width: 460px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  @media(max-width:1024px){
    width: 100%;
  }
}
.form-tab__input {
  @media(max-width:1024px){
    padding: 0px;
  }
  & label {
    @media(max-width:1024px){
      font-size: 14px;
    }
  }
  & .input-img {
    margin-bottom: 10px;
    position: relative;
    transition: all 0.4s ease;
    @media(max-width:1024px){
      width: 100%;
    }
    & img {
      @media(max-width:1024px){
        width: 100%;
      }
    }
  }
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  input:checked ~ .input-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFB800;
    transition: all 0.4s ease;
  }
}
#slider-round {
  height: 10px;
}
#slider-round .noUi-base {
  overflow-x: clip;
}
#slider-round .noUi-origin {
  background: #FFB800;
  height: 100%;
}
#slider-round .noUi-touch-area {
  width: 20px;
  height: 20px;
  background: #FFB800;
  border-radius: 50%;
}
#slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -7px;
  right: -9px; /* half the width */
  border-radius: 9px;
  
}
#slider-round .noUi-handle::before {
  display: none;
}
#slider-round .noUi-handle::after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  background: rgba(255, 184, 0, 0.4);
}
.form-tab:nth-child(2) .form-tab__inputs {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%,250%);
}
.noui-range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: #5C6470;
}
.form-tab.form-tab_after-submit.active-tab {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  padding: 0px;
  max-width: none;
  z-index: 99999;
  background: rgba(0,0,0,0.5);
  & .form-tab_after-submit__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 510px;
    max-height: 455px;
    background: white;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.tab-after-submit__close {
  position: absolute;
  top: 36px;
  right: 36px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  @media(max-width:1024px){
    top: 26px;
    right: 26px;
  }
}
.quiz-button.quiz-button_prev {
  background-color: transparent !important;
  border: 1px solid #FFB800 !important;
  color: #FFB800 !important;
  transition: all 0.4s ease;
}
.quiz-button.quiz-button_prev:hover {
  background: #FFB800 !important;
  color: black !important;
}
.choise-master .form-tab__inputs.otstyp {
  margin-top: 120px;
}
.form-sale {
  position: absolute;
  bottom: 10%;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 364px;
  height: 100px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 600;
  background: #FFB800;
  @media(max-width:1440px){
    bottom: -20%;
    right: 50%;
    transform: translateX(50%);
  }
  @media(max-width:500px){
    height: 90px;    
  }
  & span {
    font-size: 29px;
    line-height: 34px;
  }
  &__text {
    z-index: 10;
  }
  &__triangle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFB800;
    bottom: -9px;
    left: 40px;
    transform: skew(-2deg,-50deg);
    @media(max-width:1440px){
      top: -9px;
      transform:skew(-2deg,50deg);
    }
    
  }
}
.form-tab.form-tab_finally .form-tab__content_counter {
  justify-content: flex-start;
  align-items: flex-start;
  & .form-tab__content {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 69px;
    width: 100%;
    max-width: 380px;
    & input {
      border: 1px solid #E3E5E8;
      border-radius: 55px;
      padding-left: 20px;
    }
    & .form-tab__checkbox {
      position: absolute;
      opacity: 0;
      display: none;
    }
    
  }
  & #chMasSbmtBtn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 217px;
  }
  & #chMasPrevBtn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 217px;
  }
  & #chMasNextBtn {
    display: none !important;
  }
}
