.button {
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    color: #17191C;
    font-size: 16px;
    line-height: 20px;
    background: white;
    border-radius: 55px;
    transition: all 0.6s ease;
    opacity: 1;
    border: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
    &.button-yellow {
        background: #FFB800;
        &:hover {
            border: 2px solid #FFD260;
            background: #FFD260;
        }
        &:active {
            opacity: 0.5;
        }
    }
    &:hover {
        background-color: transparent;
        border: 2px solid white;
    }
    &:active {
        color: white;
    }
}
.yellow {
    color: #FFB800;
}